.mh {
  height:80px !important;
  overflow:auto;
  padding-top:30px !important;
  padding-bottom:30px !important
}

.col33  .first, .col33-33-33 .last{
    width: 40.5% !important;
}

html.ie6 .col33 .first, .col33-33-33 .last{
    width: 39.9% !important;
}

.col33 .mid {
    width: 15% !important;
}


ul.items {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

 ul.items li:hover{
    color: #2badda;
}
.divbdr {border:1px solid #76CAEE !important}